@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    If you have any concerns, please feel free to contact us on any of the following emails:<br /><br />
    <b>Jad Sharrouf: </b>jbs08@mail.aub.edu<br />
    <b>Issam Tafech: </b>ist01@mail.aub.edu<br />
    <b>Jad Anouti: </b>jfa17@mail.aub.edu<br />
    <b>Mostafa Rifai: </b>mwr09@mail.aub.edu<br />
</address>