@{
    ViewBag.Title = "Grader";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <link href="~/Content/bootstrap-lumen.min.css" rel="stylesheet" />
    <img src="~/Images/Big.PNG" alt="BobTheGrader" style ="height:85%; width:85%"/>
    <p class="lead"></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>What does BobTheGrader do?</h2>
        <p style="font-size:120%">
            BobTheGrader facilitates the student-teacher assignment experience. It has been developed for use in an introductory course for Java.
            The site features assignments submitted by course teacher and allows the student to submit their solutions for automatic grading.
        </p>
    </div>
</div>
